.git
.github
.agents
.pdf
artifacts
*.docx
word-legado.zip
**/.agents
**/*.aux
**/*.bbl
**/*.blg
**/*.brf
**/*.fdb_latexmk
**/*.fls
**/*.idx
**/*.ilg
**/*.ind
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.synctex.gz
**/*.toc
